@*@model IEnumerable < PetFocus.Models.DiabetesModel.DiabetesListItem > *@
@model PagedList.IPagedList<PetFocus.Models.DiabetesModel.DiabetesListItem>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h2>Diabetes Tracker</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@if (TempData.ContainsKey("SaveResult"))
{
    <div class="alert alert-success fade in" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span>&times;</span>
        </button>
        @TempData["SaveResult"]
    </div>
}
@using (Html.BeginForm("Index", "Diabetes", FormMethod.Get))
{
    <p>
        Find by Pet name: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Glucose
        </th>
        <th>
            Date
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Glucose)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiabetesDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DiabetesId }) |
                @Html.ActionLink("Details", "Details", new { id = item.DiabetesId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DiabetesId }) |
                @Html.ActionLink("Review by Pet", "DetailsByPetId", new { petId = item.PetId })
            </td>
        </tr>
    }

</table>

<br />
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, currentFilter = ViewBag.CurrentFilter }))
